<div class="alert alert-danger" role="alert"> 
	<p><strong>Sorry!</strong></p>
	<p class="message"></p>      
</div>

<div class="alert alert-success" role="alert">
	<p><strong>Great!</strong></p>
	<p class="message">{{message}}</p>
</div>


<!-- <div class="alert alert-danger" role="alert"> 
	<p><strong>Sorry!</strong></p>
	<p class="message"></p>      
</div>

<div class="alert alert-success" role="alert">
	<p><strong>Great!</strong></p>
	<p class="message">You have successfully created a new user! Now go ahead and log in!</p>
</div> -->