<!DOCTYPE html>
<html lang="en">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="contact" class="form-container">
               <form method="post" action="js/contact-form.php" name="contactform" id="contactform">

                    <fieldset class="form-group">
                        <input name="first name" id="fName" type="text" value="" placeholder="First name" class="form-control" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input id="lName" type="text" value="" placeholder="Last name" class="form-control" name="last name" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input name="phone" id="phone" type="text" value="" placeholder="Phone" class="form-control" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input name="username" id="username" type="text" value="" class="form-control" placeholder="Username" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input name="password" id="pass" type="password" value="" class="form-control" placeholder="Password" />
                    </fieldset>

                    <div class="alert alert-danger red-alert"> 
                        <p><strong>Sorry!</strong></p>
                        <p class="message"></p>      
                    </div>

                    <fieldset class="form-group">
                        <button class="btn btn-primary" type="submit" id="btnCreate" name="create contact">Create contact!</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
