<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="form-container">
           <form name="createForm" novalidate="true" ng-submit="createForm.$valid && createCall()">

            <legend>Create a new contact!</legend>

            <fieldset class="form-group">
                <input name="first name" type="text" ng-model="model.firstName" placeholder="First name" class="form-control" />
            </fieldset>
            <fieldset class="form-group">
                <input ng-model="model.lastName" type="text" placeholder="Last name" class="form-control" name="last name" />
            </fieldset>
            <fieldset class="form-group">
                <input name="username" type="text" class="form-control" placeholder="Username" ng-model="model.username" />
            </fieldset>
            <fieldset class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password" ng-model="model.password" />
            </fieldset>
            <fieldset class="form-group">
                <input name="title" type="text"placeholder="Title" class="form-control" ng-model="model.title" />
            </fieldset>
            <fieldset class="form-group">
                <input name="phone" type="text" placeholder="Phone" class="form-control" ng-model="model.phone" />
            </fieldset>
            <fieldset class="form-group">
                <input name="email" type="email" placeholder="E-mail" class="form-control" ng-model="model.email" />
            </fieldset>

            <form-messages messageGreen="You now have a valid user. Go ahead and log in to the system!"
                           messageRed="Your user couldn't be created. The next values provided aren't valid:"
                           both="true"
                           display="true"
                           red="!createForm.$valid"
            ></form-messages>

            <fieldset class="form-group">
                <input class="btn btn-primary" type="submit" name="create contact" value="Create contact!"/>
            </fieldset>
        </form>
    </div>
</div>
</div>