<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="form-container">
            <form name="editForm" novalidate="true" ng-submit="editForm.$valid && model.saveCall()">

                <fieldset class="form-group">
                    <input name="first name" id="fName" type="text" ng-model="model.firstName" placeholder="First name" class="form-control" disabled="true"/>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="model.lastName" type="text" placeholder="Last name" class="form-control" name="last name" disabled="true"/>
                </fieldset>
                <fieldset class="form-group hidden-xs">
                    <input name="username" type="text" class="form-control" placeholder="Username" ng-model="model.username" disabled="true"/>
                </fieldset>
                <fieldset class="form-group hidden-xs">
                    <input name="password" type="password" class="form-control" placeholder="Password" ng-model="model.password" disabled="true"/>
                </fieldset>

                <fieldset class="form-group">
                    <input ng-model="model.title" name="title" type="text" placeholder="Contact's Title" class="form-control" />
                </fieldset>
                <fieldset ng-model="model.phone" class="form-group">
                    <input type="text" placeholder="Phone" class="form-control" name="phone" />
                </fieldset>
                <fieldset ng-model="model.email" class="form-group">
                    <input name="email" type="email" class="form-control" placeholder="E-mail" />
                </fieldset>

                <fieldset class="alert alert-danger red-alert"> <!-- PENDIENTE convertir en directiva -->
                    <p><strong>Sorry!</strong></p>
                    <p class="message"></p>      
                </fieldset>
                
                <fieldset class="form-group">
                    <button class="btn btn-primary" type="submit" name="save your changes">Save changes</button>
                </fieldset>

            </form>
        </div>
    </div>
</div>