<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="form-container">
            <form name="editForm" novalidate="true" ng-submit="editForm.$valid && saveCall()">

                <legend>Edit one of your contacts</legend>

                <div class="alert alert-info" role="alert">
                    <p class="text-center">Note that there are some fields that can't be changed.</p>
                </div>

                <fieldset class="form-group">
                    <input name="first name" id="fName" type="text" ng-model="model.firstName" placeholder="First name" class="form-control" disabled="true"/>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="model.lastName" type="text" placeholder="Last name" class="form-control" name="last name" disabled="true"/>
                </fieldset>
                <fieldset class="form-group hidden-xs">
                    <input name="username" type="text" class="form-control" placeholder="Username" ng-model="model.username" disabled="true"/>
                </fieldset>
                <fieldset class="form-group hidden-xs">
                    <input name="password" type="password" class="form-control" placeholder="Password" ng-model="model.password" disabled="true"/>
                </fieldset>

                <fieldset class="form-group">
                    <input ng-model="model.title" name="title" type="text" placeholder="Contact's Title" class="form-control" />
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="model.phone" type="text" placeholder="Phone" class="form-control" name="phone" />
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="model.email" name="email" type="email" class="form-control" placeholder="E-mail" />
                </fieldset>

                <div class="alert alert-danger"> <!-- PENDIENTE convertir en directiva -->
                    <p><strong>Sorry!</strong></p>
                    <p class="message"></p>      
                </div>

                <div class="alert alert-success" role="alert">
                    <p><strong>Great!</strong></p>
                    <p class="message">Your changes have been saved to the database.</p>
                </div>
                
                <fieldset class="form-group">
                    <input class="btn btn-primary" type="submit" name="save your changes" value="Save changes" />
                </fieldset>

            </form>
        </div>
    </div>
</div>