<div class="row row-offcanvas row-offcanvas-right">
    <div>
        <div class="col-xs-12 col-sm-9">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Company name</th>
                        </tr>
                    </thead>
                    <tbody><!-- ng-repeat-->
                        <ng-table-row></ng-table-row>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <!-- PENDIENTE BINDING -->
        <show-contact name="name" company="company" phone="phone" username="username" id="id"></show-contact>
    </div>
</div>
