<div class="row row-offcanvas row-offcanvas-right">
    <div>
        <div class="col-xs-12">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr ng-repeat="contact in model.contacts"> <!-- DUDA ng-click="loadContact(contact.id)"-->
                                <td>{{contact.FirstName}}</td>
                                <td>{{contact.LastName}}</td>
                                <td>{{contact.Title}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>