<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="text-center">Welcome to Contact Management!</h2>
        <p class="text-center">In order to start working, you need to login to the system with your username and password. If you don't have an account yet, feel free to sign up!</p>
        <div class="form-container">
            <form name="loginForm" novalidate="true" ng-submit="loginForm.$valid && loginCall()"> 

                <fieldset class="form-group">
                    <input ng-model="model.tempUser" type="text" placeholder="Username" class="form-control" required="true">
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="model.tempPass" type="password" placeholder="Password" class="form-control" required="true">
                </fieldset>

                 <form-messages messageGreen=""
                           messageRed="The username or password provided are invalid."
                           both="false"
                           display="false"
                           
                ></form-messages> <!-- red="!loginForm.$valid" -->

                <fieldset class="form-group">
                <input class="btn btn-primary btn-block" type="submit" name="log in" value="Login"/>
                </fieldset>

                <fieldset class="form-group">
                    <a class="btn btn-block" ng-href="#/create">Register</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>